{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'retrodoro/login.css' %}" />
<!doctype html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="login-card">
    <div class="logo">
      <h1>Retrodoro</h1>
    </div>

    <div class="form-container">
      <form action="login">
          <input type="text" class="username" name="username" 
              placeholder="Username" required>
          
          <input type="password" class="password" name="password" 
              placeholder="Password" required>
      </form>
      <button type="submit">Submit</button>
    </div>
    </div>

  </body>
</html>